"*":
  "autoclose-html": {}
  "autocomplete-python":
    pythonPaths: "/usr/local/bin/python3"
    useKite: false
  core:
    disabledPackages: [
      "autoclose-html"
      "atom-python-run"
      "emmet"
    ]
    ignoredNames: [
      ".git"
      "node_modules"
      "**/dist/*"
      "**/assets/*"
    ]
    packagesWithKeymapsDisabled: [
      "jslint"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
  emmet: {}
  "exception-reporting":
    userId: "c5841451-1725-157d-7014-a681f043bc98"
  "highlight-selected": {}
  jslint:
    hideOnNoErrors: true
  linter:
    errorPanelHeight: 25
  "linter-pylint":
    rcFile: "~/.pylintrc"
  "linter-python": {}
  minimap:
    absoluteMode: true
    displayCodeHighlights: false
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "node-debugger": {}
  "python-debugger":
    pythonExecutable: "/usr/local/bin/python3"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".source.tsx":
  editor:
    tabLength: 4
